**/.DS_Store

.vscode

homelab/services/*/.env

homelab/services/dolibarr/dolibarr-data/

homelab/services/monitoring/config/discord_webhook_url

homelab/services/postgres/postgres-data/
homelab/services/postgres/pgadmin-data/
