- name: Create target user
  user:
    name: "{{ target_username }}"
    shell: /bin/bash
    create_home: true
    groups: sudo
    append: true

- name: Allow target user to sudo without password
  lineinfile:
    path: /etc/sudoers.d/{{ target_username }}
    line: "{{ target_username }} ALL=(ALL) NOPASSWD:ALL"
    state: present
    mode: "0440"
    create: true
    validate: "visudo -cf %s"

- name: Set up SSH authorized keys for target user
  authorized_key:
    user: "{{ target_username }}"
    state: present
    key: "https://github.com/sf1tzp.keys"
