#cloud-config
hostname: {{ item.hostname }}

users:
  - name: {{ username | default("steven") }}
    groups: sudo
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_import_id:
      - gh:{{ github_username | default("sf1tzp") }}

chpasswd:
  list: |
    {{ username | default("steven") }}:{{ user_password | mandatory }}
  expire: false
