#cloud-config
hostname: {{ item.hostname }}

users:
  - name: {{ item.username }}
    groups: sudo
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_import_id:
      - gh:{{ github_username | default("sf1tzp") }}

chpasswd:
  list: |
    {{ item.username }}:{{ user_password | mandatory }}
  expire: false
